.container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("/Users/bradystacey/dev/reflect/frontend/reflect_FE/public/flatlaydesk.jpg");
	background-size: cover; /* Cover the entire container */
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%;
	width: 100%;
	height: 100vh;
}

.book {
	width: 70%;
	height: 90%;
	align-items: center;
	justify-content: flex-end;
	display: flex;
	perspective: 2500px;
}

.page {
	width: 50%;
	height: 90%;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 1s;
	transform-origin: left;
}

.page-front-cover {
	position: absolute;
	width: 105%;
	height: 105%;
	backface-visibility: visible;
	background-image: url("/Users/bradystacey/dev/reflect/frontend/reflect_FE/public/leatherbookk.webp.png");
	background-size: cover; /* Cover the entire container */
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	top: -9px;
	box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}

.page-back-cover {
	position: absolute;
	width: 105%;
	height: 105%;
	backface-visibility: hidden;
	background-image: url("/Users/bradystacey/dev/reflect/frontend/reflect_FE/public/leatherbookk.webp.png");
	background-size: cover; /* Cover the entire container */
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	top: -9px;
	z-index: -3;
	box-shadow: -15px 15px 15px 5px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}

.page-front,
.page-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.page-back {
	transform: rotateY(180deg);
}

.stats {
	position: absolute;
	width: 100%;
	height: 100%;
}
