.index-container {
	background: linear-gradient(
		90deg,
		rgba(225, 225, 221, 1) 95%,
		rgba(150, 150, 150, 1) 100%
	);
	width: 100%;
	height: 100%;
	border-top: 2px outset #838383;
	border-left: 2px groove #ddd;
	border-bottom: 3px groove #838383;
	border-right: 2px inset #909090;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	display: flex;
	flex-direction: column;
}

.index-page {
	width: 85%; /* Adjust the width as needed */
	height: 80%; /* Adjust the height as needed */
	background-color: rgba(225, 225, 221, 1); /* Base color for the page */
	background-image: linear-gradient(
		to bottom,
		transparent 90%,
		#373737 95%,
		transparent 90%
	);
	background-size: 100% 30px; /* Adjust the spacing of the lines */
	padding: 30px; /* Space for content */
	padding-left: 10px;
	margin-left: 1.5em;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: left;
	display: flex;
}

.journal-button {
	border: none;
	display: flex;
	justify-content: flex-start;
	background-color: transparent;
	font-size: large;
	cursor: pointer;
	padding-top: 5px;
	height: 20px;
	width: 100px;
	margin-bottom: 10px;
}
