.login-container {
	display: flex;
	background-color: blue;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
	border-radius: 10px;
}

.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: green;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	flex-direction: column;
}

.login-input {
	margin-bottom: 10px;
}

.signup-button {
	background-color: transparent;
	border: none;
	margin-bottom: 10px;
}

.submit {
	background-color: transparent;
	border: none;
	margin-bottom: 10px;
}
