.budget-input {
	background-color: transparent;
	margin: 1px;
	border: none;
}

.budget-input:focus {
	background-color: transparent;
	margin: 1px;
	border: none;
	outline: none;
}
.budget-input::-webkit-inner-spin-button,
.budget-input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.budget-income-form {
	display: flex;
	flex-direction: column;
	width: 50%;
}
