.cover {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.image-container {
	background-image: url("/Users/bradystacey/dev/reflect/frontend/reflect_FE/public/leatherbookk.webp.png");
	background-size: cover; /* Cover the entire container */
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

.cover-top {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 33%;
	width: 95%;
}

.cover-middle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 33%;
	width: 100%;
}

.cover-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 33%;
	width: 100%;
}

.cover-input {
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 5px;
	margin: 10px;
}

input {
	color: transparent;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(80, 30, 2, 1) 100%
	);
	text-shadow: -2px 5px 4px rgba(80, 50, 0, 0.8);
	background-clip: text;
	-webkit-background-clip: text;
	font-family: cursive;
	font-size: 20px;
	margin-bottom: 180px;
	height: 70px;
}

input::placeholder {
	text-align: center;
	color: transparent;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(80, 30, 2, 1) 100%
	);
	text-shadow: -1px 3px 2px rgba(112, 71, 0, 0.8);
	background-clip: text;
	-webkit-background-clip: text;
	font-family: cursive;
	font-size: 50px;
	margin-bottom: 180px;
}

input:focus {
	outline: none;
	border: 1px solid transparent; /* Adjust to match the non-focused state or make transparent */
	box-shadow: none; /* Remove if there's a default shadow applied */
}

.imprinted-text-h2 {
	color: transparent;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(80, 30, 2, 1) 100%
	);
	text-shadow: -2px 5px 4px rgba(176, 112, 0, 0.8);
	background-clip: text;
	-webkit-background-clip: text;
	font-family: cursive;
	font-size: 55px;
	text-decoration: wavy;
	user-select: none;
}
